* {
    margin: 0;
}

.header {
    height: 15vh;
}

.main {
    height: 65vh;
    display: flex;
}

.footer {
    height: 20vh;
}

.header,
.footer {
    background-color: #D9D9D9;
}

.section-1 {
    background-color: #78786F;
}

.section-2 {
    background-color: #61615C;
}

.section-3 {
    background-color: #78786F;
}

.section-1,
.section-2,
.section-3 {
    height: 100%;
    width: 33.33vw;
}