* {
    margin: 0;
    padding: 0;
}

.header {
    height: 20vh;
}

.main {
    height: 60vh;
    display: flex;
}

.footer {
    height: 20vh;
}

.header,
footer {
    background-color: #D9D9D9;
}

.section-1 {
    width: 60vw;
    background-color: #8E8E8E;
}

.section-2 {
    width: 40vw;
    background-color: #727459;
}

.section-1,
.section-2 {
    height: 100%;
}